**
!apps/
!apps/server-rust/
!apps/server-rust/Cargo.toml
!apps/server-rust/Cargo.lock
!apps/server-rust/src/
!apps/server-rust/src/**
!ops/
!ops/release/
!ops/release/INSTALL.md
!LICENSE
!THIRD_PARTY_NOTICES.md
